.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: rgb(253, 253, 255);
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.inputContainer > input {
    padding: 8px;
    border: 1px solid #000000;
    border-color: rgb(2, 0, 3);
    border-radius: 8px;
}

.inputContainer > input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 3px rgba(59,130, 246, 0.1);
}

.button {
    background-color: rgb(32, 35, 201);
    color: #fffeff;
    padding: 8px;
    border: none;
    border-radius: 8px;
    place-self: flex-end;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2 ease;
}
.button:hover {
    background-color: rgba(0, 1, 2, 0.95);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgb(0, 5, 14);
}